*{
	margin: 0;
	padding: 0;
	font-family: ariel, "helvetica Neue", helvetica, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: url(https://all4desktop.com/data_images/1920%20x%201200/4195747-windows-vista-original-logon.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}
.login-box{
	width: 500px;
	background-color: rgba(1,1,20,0.5);
	margin: 150px auto;
	border-radius: 50px;
	border: 20px ridge #00bfff;
	box-shadow: 0 0 20px 5px #000;
	padding:0;
	position: relative; 
  	left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}
.sbutton{
	width: 400px;
	background-color: rgba(1,1,20,0.5);
	margin: 1px auto;
	border-radius: 50px;
	border: 5px solid #8FD9F7;
	box-shadow: 0 0 20px 5px #000;
	padding:0;
	font-size: 25px;
	color:white;
	margin-bottom: 6px;
}

.settings{
	width: 100%;
	padding-top: 0px;
	font-size: 30px;
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 1px #000;
	margin-bottom: 15px;
	margin-top: 50px;
	display: inline-block;
}

/*.S-page{
	position: center;*/

.log-out{
width: 400px;
	background-color: rgba(1,1,20,0.5);
	margin: 1px auto;
	border-radius: 50px;
	border: 5px solid #8FD9F7;
	box-shadow: 0 0 20px 5px #000;
	padding:0;
	font-size: 25px;
	color:white;
	margin-bottom: 6px;	
}

div{
	text-align: center;
}
